%center
  %div{ :style => "height: 240px;" }
    %div{:style => "z-index:100"}
      %img{:src => './images/prosciutto.jpg'}
    %div#fireworks{:style => "margin-top:-210px;z-index:1000; display: none;"}
      %img{:src => './images/fireworks.gif'}
  #display
