!!!
%html
  %head
    %title= @title
    %script{:src => "http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"}
    %script{:src => "javascripts/application.js"}
    %link{:type => "text/css", :rel => "stylesheet", :media => "screen", :href => "stylesheets/application.css"}
  %body= yield
